body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon{
  height: 50px; /* when we set height it will set the width automatically */
  /*border: 3px dashed blue;*/
}
.move-button{
  /*border-color: fuchsia;*/
  background-color: transparent; /* or can also use same body color rgb(25, 25, 25) as above */
  border: 3px solid white; /* order: borderWidth borderStyle(solid/dotted/dashed) borderColor */
  height: 120px;
  width: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score{
  margin-top: 60px;
}

.reset-score-button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}